<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" > 
  </head>
  <body class="background">
      <h1 class="header">Please Fill Out The Fields Below</h1>

<div class="">

</div>
     <form class="" action="{{url_for('thankyou')}}" method="post">

       <label class="label">Email:</label><br>
       <input class="email" type="email" name="email_name" value="" required><br>
        <label class="label">Height:</label><br>
       <input class="height" type="text" name="height_name" value="" required><br>
        <label class="label">Weight:</label><br>
       <input class="weight" type="number" name="weight_name" value="" min='30' max='200' required><br>


       <button class="submit" type="submit" name="button">submit</button>
     </form>





  </body>
</html>
